.theme-switch-wrapper {
    display: flex;
    align-items: center;
  }
  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .theme-switch input {
    display:none;
  }

  .nav-title{
    text-transform: lowercase !important;
    font-size: 250%;
    letter-spacing: 3px;
  }

  .cursorgif{
    width:15px !important;
    height:20px !important;
    filter:invert(50%) !important;
  }